# Google AI Configuration
GOOGLE_API_KEY=your_google_api_key_here
GOOGLE_MODEL_NAME=your_google_model_name_here

# Database Configuration
# DATABASE_HOST=your_database_host_here
# DATABASE_PORT=3306
# DATABASE_USER=your_database_user_here
# DATABASE_PASSWORD=your_database_password_here
# DATABASE_NAME=your_database_name_here
DATABASE_PATH=your_local_database_path_here.db

# Application Configuration
API_V1_STR=/api/v1
PROJECT_NAME=Patient Informatics AI Assistant
DEFAULT_PATIENT_ID=p_1001